
<%- include("partials/header"); -%>
<ul class="nav nav-pills nav-justified">
<li class="active"><a href="/compose.ejs">CREATE</a></li>
<li><a href="/delete.ejs>">DELETE</a></li>
</ul>
<%- include("partials/footer"); -%>
