
<%- include("partials/header"); -%>


    <form action="/weather" method="post">
      <br></br>
      <label for="">City Name : </label>
      <input type="text" name="cityname" value="">
      <br>
      <br>
      <button class="btn" type="submit" name="button">Search</button>
    </form>

<%- include("partials/footer"); -%>
